* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

.h3_title, .h3_title_side {
    margin: 20px 5px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0px 5px 20px 5px;
}

.h3_title_side {
    text-align: left;
}

.dashboard_container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    /*background-color: #ccc;*/
    width: 99.5%;
    margin: .25% auto;
}

.dashboard_icons {
    flex: 0 0 25%;
    border: 1px solid #F1733A;
    text-align: center;
    padding: 20px 0px;
    color: #000;
}

.dashboard_icons:hover {
    text-decoration: none;
    /*opacity: 60%;*/
    color: #666;
}

.dashboard_icons:nth-child(n-1) {
    border-left: none;
}

.dashboard_icons:first-child {
    border-left: 1px solid #F1733A;
}

.dashboard_icons:nth-child(4n+1) {
    border-left: 1px solid #F1733A;
}

.dashboard_icons:nth-child(4n+0) {
    border-right: 1px solid #F1733A;
}

.dashboard_icons:nth-child(n+5) {
    border-top: none;

}

.list_table_wrap{
    /*width: 100%;*/
    margin: 0 5px;
}